<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Meal Attributes</title>
        <link rel="stylesheet" href="/css/reset.css" />
        <link rel="stylesheet" href="/css/960.css" />
        <link rel="stylesheet" href="/css/text.css" />
        <!-- <link rel="stylesheet" href="/css/demo.css" /> -->
        <link rel="stylesheet" href="/css/mealdisp.css" />
    </head>
    <body>
        <div class="container_12">

            <div class="grid_12">
                <% if(meal.picTitle.length > 0) { %>
                <center>
                <%= meal.picTitle %>
                </center>
                <% } else { %>
                <br>
                <% } %>
            </div>
            <div class="clear"></div>


            <div class="grid_10 prefix_1 suffix_1"> 
                <% if( undefined != user && user.username.length > 0 && user.username == meal.username) { %>
                    <a href='/attributes/<%= meal.username %>/<%= meal.timestamp %>'>
                <% } %>
                    <center>
                        <img src='/pics/<%= meal.username %>/<%= meal.timestamp %>'>
                    </center>
                <% if( undefined != user && user.username.length > 0 && user.username == meal.username) { %>
                    </a>
                <% } %>
                <% if(meal.picName.length > 0) { %>
                <!-- FYI the uploaded name was <%= meal.picName %> -->
                <% } %>
            </div>
            <div class="clear"></div>

            <% if( meal.rating >= 0) { %>
            <div class="grid_3 prefix_3">Rating:</div>
            <div class="grid_6">
                <b><%= meal.rating %> Stars </b>
            </div>
            <div class="clear"></div>
            <% } %>

            <% if(meal.restaurantId > 0) { %>
            <% } else % { %>
            <% } %>

            <% if( undefined != user && user.username.length > 0 && user.username == meal.username) { %>
               <div class="grid_12">
                  <center>
                     <a href='/attributes/<%= meal.username %>/<%= meal.timestamp %>'>Edit Attributes</a>
                  </center>
               </div>
            <% } else { %>
               <div class="grid_12"></div>
            <% } %>

       </div>
    </body>
</html>
