<div class="container_12">

    <form id="mealattributes" method="post" enctype="multipart/form-data">

        <% if( undefined != uploadflag && uploadflag == true ) { %>
        <div class="grid_4">Path:</div>
        <div class="grid_8">
            <input type="file" name="upload" />
        </div>
        <div class="clear"></div>
        <% } %>

        <div class="grid_4">Title:</div>
        <div class="grid_8">
            <% if(meal.picTitle != undefined && meal.picTitle.length > 0) { %>
            <input type="text" class="mealinfo_input" name="title" value="<%= meal.picTitle %>">
            <% } else { %>
            <input type="text" class="mealinfo_input" name="title" >
            <% } %>
        </div>
        <div class="clear"></div>

        <% if( undefined != user.isAdmin && user.isAdmin ) { %>
        <div class="grid_4">Name:</div>
        <div class="grid_8">
            <% if(meal.picName != undefined && meal.picName.length > 0) { %>
            <input type="text" name="picName" value="<%= meal.picName %>">
            <% } else { %>
            <input type="text" name="picName">
            <% } %>
        </div>
        <div class="clear"></div>

        <div class="grid_4">Verified By Admin:</div>
        <div class="grid_8">
            <select name="verifiedByAdmin">

                <% if( meal.verifiedByAdmin != undefined && meal.verifiedByAdmin ) { %>
                <option value="verified" selected="selected">Verified</option>
                <option value="notverified">Not Verified</option>
                <% } else { %>
                <option value="verified">Verified</option>
                <option value="notverified" selected="selected">Not Verified</option>
                <% } %>

            </select>
        </div>
        <div class="clear"></div>

        <div class="grid_4">Admin Allow:</div>
        <div class="grid_8">

            <select name="adminAllow">

                <% if( meal.adminAllow != undefined && meal.adminAllow ) { %>
                <option value="allow" selected="selected">Admin Allow WorldView</option>
                <option value="disallow" >Admin Disallow WorldView</option>
                <% } else { %>
                <option value="allow">Admin Allow WorldView</option>
                <option value="disallow" selected="selected">Admin Disallow WorldView</option>
                <% } %>

            </select>

        </div>
        <div class="clear"></div>

        <% } %> <!-- user.isAdmin -->


        <!-- MEAL -->
        <div class="grid_4">Meal:</div>
        <div class="grid_8">
            <select name="meal">
                <% var selmeal="lunch"; %>
                <% if(meal.meal != undefined && meal.meal.length > 0) { %>
                <%    if(meal.meal == "breakfast")  selmeal = "breakfast"; %>
                <%    if(meal.meal == "lunch")      selmeal = "lunch"; %>
                <%    if(meal.meal == "dinner")     selmeal = "dinner"; %>
                <%    if(meal.meal == "snack")      selmeal = "snack"; %>
                <%    if(meal.meal == "other")      selmeal = "other"; %>
                <% } %>

                <% if( selmeal == "breakfast" ) { %>
                <option value="breakfast" selected="selected">Breakfast</option>
                <% } else { %>
                <option value="breakfast">Breakfast</option>
                <% } %>

                <% if( selmeal == "lunch" ) { %>
                <option value="lunch" selected="selected">Lunch</option>
                <% } else { %>
                <option value="lunch">Lunch</option>
                <% } %>

                <% if( selmeal == "dinner" ) { %>
                <option value="dinner" selected="selected">Dinner</option>
                <% } else { %>
                <option value="dinner">Dinner</option>
                <% } %>

                <% if( selmeal == "snack" ) { %>
                <option value="snack" selected="selected">Snack</option>
                <% } else { %>
                <option value="snack">Snack</option>
                <% } %>

                <% if( selmeal == "other" ) { %>
                <option value="other" selected="selected">Other</option>
                <% } else { %>
                <option value="other">Other</option>
                <% } %>


            </select>
        </div>
        <div class="clear"></div>

        <div class="grid_4">World Viewable:</div>
        <div class="grid_8">
            <select name="worldViewable">
                <% if( meal.worldViewable != undefined && meal.worldViewable ) { %>
                <option value="true" selected="selected">World Viewable</option>
                <option value="false">Hidden</option>
                <% } else { %>
                <option value="true">World Viewable</option>
                <option value="false" selected="selected">Private</option>
                <% } %>
            </select>
        </div>

        <div class="grid_4">Rating:</div>
        <div class="grid_8">

            <select name="rating">

                <% if(meal.rating == undefined || meal.rating == -1) { %>
                <option value="-1" selected="selected">Unrated</option>
                <% } else { %>
                <option value="-1">Unrated</option>
                <% } %>

                <% if(meal.rating != undefined && meal.rating == 0) { %>
                <option value="0" selected="selected">0 Stars</option>
                <% } else { %>
                <option value="0">0 Stars</option>
                <% } %>

                <% if(meal.rating != undefined && meal.rating == 1) { %>
                <option value="1" selected="selected">1 Star</option>
                <% } else { %>
                <option value="1">1 Star</option>
                <% } %>

                <% if(meal.rating != undefined && meal.rating == 2) { %>
                <option value="2" selected="selected">2 Stars</option>
                <% } else { %>
                <option value="2">2 Stars</option>
                <% } %>

                <% if(meal.rating != undefined && meal.rating == 3) { %>
                <option value="3" selected="selected">3 Stars</option>
                <% } else { %>
                <option value="3">3 Stars</option>
                <% } %>

                <% if(meal.rating != undefined && meal.rating == 4) { %>
                <option value="4" selected="selected">4 Stars</option>
                <% } else { %>
                <option value="4">4 Stars</option>
                <% } %>

                <% if(meal.rating != undefined && meal.rating == 5) { %>
                <option value="5" selected="selected">5 Stars</option>
                <% } else { %>
                <option value="5">5 Stars</option>
                <% } %>

            </select>

        </div>
        <div class="clear"></div>

        <!-- RESTAURANT -->
        <% if(restaurantId > 0) { %>

        <div class="grid_4">Restaurant:</div>
        <div class="grid_8">

            <a href="/restaurantinfo/<%= restaurantId %>"><%= restaurant.name %></a>

        </div>
        <div class="clear"></div>

        <div class="grid_8 prefix_4">
        <a href="/restaurantinfo">Restaurant Info</a>
        </div>
        <div class="clear"></div>

        <% } else { %>

        <div class="grid_4">Restaurant:</div>
        <div class="grid_8">
        <a href='/findrestaurant'>Select Restaurant</a>
        </div>
        <div class="clear"></div>

        <% } %>

        <div class="grid_4">Review:</div>
        <div class="grid_8">
            <div id="review_meal" class="review">
                <!-- 
                    problems to solve:

                    * provide a way (button) for the user to discard the edits
                    * maybe allow user to 'continue' or 'discard' local edits from the
                      attributes page
                    * maybe show the edits in an uneditable textarea box rather than in
                      html - then change this to 'editable' with the link-click
                    * if there is something to restore, allow the user to 'restore' 
                      recent edits or 'edit review'.
                    * have the textarea replace whatever is there (html or textarea).
                    
                -->
                <% if(meal.review != undefined && meal.review.length > 0) { %>
                <a id="edit_review" href="/editreview">Edit Review</a>
                <% } else { %>
                <a id="edit_review" href="/editreview">Review Meal</a>
                <% } %>

                <% if(meal.tmpReview != undefined && meal.tmpReview.trim().length > 0) { %>
                <div id="restore_review">
                <a id="restore_review_internal" href="/editrestore">Restore Most Recent Edits</a>
                </div>
                <% } %>

                <% if(meal.review != undefined && meal.review.length > 0) { %>
                <div id='review_text'>
                <textarea class='review_noedit' id='review_text_int' cols=60 rows=20 readonly disabled=true><%= meal.review.replace(/\r/g, '') %></textarea>
                </div>
                <% } %>

            </div>
        </div>
        <div class="clear"></div>

        <div id="review_status_div">
        </div>

        <!-- I'll provide a 'trashcan' which will temporarily save these -->
        <% if( undefined != uploadflag && uploadflag == false) { %>
        <div class="grid_4">Delete this Meal:</div>
        <div class="grid_8">
            <input type="checkbox" name="deleteMeal" value="<%= meal.username %>/<%= meal.timestamp %>">
        </div>
        <div class="clear"></div>
        <% } %>

        <div class="grid_8 prefix_4">
            <input type="submit" value="Submit" />
        </div>
    </form>
    <div class="clear"></div>

</div> <!-- container_12 -->


