<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Upload Meal</title>
        <link rel="stylesheet" href="/css/reset.css" />
        <link rel="stylesheet" href="/css/960.css" />
        <link rel="stylesheet" href="/css/text.css" />
        <link rel="stylesheet" href="/css/mealdisp.css" />
    </head>
    <body>
        <div class="container_12">
            <div class="grid_12">
                <h2>Upload Meal</h2>
            </div>
            <div class="grid_12">
                <form method="post" enctype="multipart/form-data">
                    Title<input type="text" name="title" /><br>
                    Path<input type="file" name="upload" /><br>
                    <input type="submit" value="Upload" />
                </form>
            </div>

            <% var endpic; %>
            <% if(mealinfo && mealinfo.length < picsperpage ) { %>
            <%   endpic=mealinfo.length %>
            <% } else { %>
            <%   endpic=picsperpage; %>
            <% } %>

            <% for (var cnt=0 ; mealinfo != undefined && cnt < endpic ; cnt++ ) { %>
                <% var meal = mealinfo[cnt]; %>
                <div class="grid_4">
                    <center>
                    <a href='/attributes/<%= meal.username %>/<%= meal.timestamp %>'>
                        <img src='/thumbs/<%= meal.username %>/<%= meal.timestamp %>' >
                    </a><br>
                    <a href='/attributes/<%= meal.username %>/<%= meal.timestamp %>'>
                    <% if (meal.picTitle != undefined && meal.picTitle.length > 0) { %>
                        <%= meal.picTitle %>
                    <% } else { %>
                        untitled
                    <% } %>
                    </a>
                    </center>
                </div>
                <% if (cnt % 3 == 2) { %>
                    <div class="clear"></div>
                <% } %>
            <% } %>

            <% if(mealinfo && mealinfo.length > picsperpage) { %>
                <div class="grid_12">
                    <a href='/upload/<%= mealinfo[picsperpage-1].timestamp %>'>Next Page</a>
                </div>
                <div class="clear"></div>
            <% } %>

        </div> <!-- container_12 -->
    </body>
</html>
