<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="/css/reset.css" />
        <link rel="stylesheet" href="/css/960.css" />
        <link rel="stylesheet" href="/css/text.css" />
        <link rel="stylesheet" href="/css/mealdisp.css" />
    </head>
<body>
    <div class="container_12">
        <div class="grid_12">
            <h2><center>Verify Backwards from Timestamp <%= timestamp %></center><br>
                <center>(<%= new Date(timestamp).toString() %>)</center></h2><br>
        </div>
        <div class="clear"></div>

        <% if (undefined == mealinfo || mealinfo.length <= 0) { %>
            <div class="grid_12">
            <center><h1>No meals to verify</h1></center>
            <div class="clear">
        <% } else { %>

            <% var endpic; %>
            <form name="verify" method="post" enctype="multipart/form-data">

                <% if(mealinfo && mealinfo.length < picsperpage ) { %>
                <%   endpic=mealinfo.length %>
                <% } else { %>
                <%   endpic=picsperpage; %>
                <% } %>

                <% for (var cnt=0 ; mealinfo != undefined && cnt < endpic ; cnt++ ) { %>
                <% var meal = mealinfo[cnt]; %>
                    <div class="grid_4">
                        <center>
                        <a href='/pics/<%= meal.username %>/<%= meal.timestamp %>'>
                            <img src='/thumbs/<%= meal.username %>/<%= meal.timestamp %>' >
                        </a><br>
                        <%= meal.username %>/<%= meal.timestamp %><br> 
                        <%= new Date(meal.timestamp).toString() %><br>
                        Verify      <input type="checkbox" name="verchk<%= cnt %>" value="<%= meal.username %>/<%= meal.timestamp %>">
                        Allow       <input type="radio" name="verify<%= cnt %>" value="<%= meal.username %>/<%= meal.timestamp %>/Allow">
                        Disallow    <input type="radio" name="verify<%= cnt %>" value="<%= meal.username %>/<%= meal.timestamp %>/Disallow" checked>
                        </center>
                    </div>
                    <% if (cnt % 3 == 2) { %>
                    <div class="clear"></div>
                    <% } %>
                <% } %>
     
                <div class="clear"></div>
                <div class="grid_12"> <input type="submit" value="Submit"> </div>
                <div class="clear"></div>
            </form>
            <div class="clear"></div>
        <% } %>

        <% if(mealinfo && mealinfo.length > picsperpage) { %>
            <div class="grid_12">
            <a href='/admin_verify_meals/<%= mealinfo[picsperpage-1].timestamp %>'>Next Page</a>
            </div>
            <div class="clear"></div>
        <% } %>


        
